.container {
    width: calc(100% - 18vw);
    position: relative;
    left: 18vw;
    padding: 40px 40px;
    background: #e7e7e7;
    min-height: 100vh;
    &:nth-child(2) .row {
        justify-content: flex-start;
    }
}

.header {
    margin-bottom: 30px;
}

.welcomeHeading {
    color: gray;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.box, .pieWrapper {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
    height: 30vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:nth-child(2) {
        .statHeading, .statIcon {
            color: rgb(255, 0, 102);
        }
        .iconWrapper {
            background-color: rgb(255, 224, 237);
        }
    }
    &:nth-child(3) {
        .statHeading, .statIcon {
            color: rgb(0, 182, 76);
        }
        .iconWrapper {
            background-color: rgb(211, 255, 230);
        }
    }
    &:nth-child(4) {
        .statHeading, .statIcon {
            color: rgb(255, 0, 0);
        }
        .iconWrapper {
            background-color: rgb(255, 187, 187);
        }
    }
    &:nth-child(4) {
        .statHeading, .statIcon {
            color: rgb(255, 0, 0);
        }
        .iconWrapper {
            background-color: rgb(255, 221, 221);
        }
    }
}

.iconWrapper {
    border-radius: 50%;
    background-color: rgb(210, 255, 255);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.statIcon {
    font-size: 1.7rem;
    color: rgb(0, 171, 171);
}

.statHeading {
    font-size: 2.3rem;
    font-weight: 900;
    color: rgb(0, 171, 171);
}

.statTitle {
    margin-bottom: 10px;
}

.statDescription {
    color: #a2a2a2;
    text-align: center;
}
.pieWrapper {
    width: fit-content;
    align-items: center;
    justify-content: center;
    height: fit-content;
}