$navy: rgb(33, 35, 47);
.userApplicationsContainer {
    min-height: 100vh;
    width: calc(100% - 18vw);
    display: flex;
    flex-direction: column;
    background: #e7e7e7 !important;
    position: relative;
    left: 18vw;
    padding: 20px 30px;
    align-items: center;
}
.userApplicationsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; 
    width: 100%;
}
.userApplicationsTitle {
    color: $navy;
    font-size: clamp(2rem, 2.3vw, 2.3rem);
    font-weight: bold;
}
.userApplicationsTableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    margin: 20px;
    width: 100%;
}
.table {
    h3 {
        margin: 10px 0px;
    }
    height: auto;
    padding: 20px 20px;
    width: 100%;
}
.count {
    color: rgb(255, 0, 102);
}
.newAppButton {
    font-size: 1rem;
    padding: 6px 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(255, 0, 102);
    border-color: transparent;
    color: #fff;
    transition: 0.2s all ease;
    &:hover {
        background-color: rgb(206, 0, 82);
    }
}

.row {
    background-color: $navy;
    color: #fff !important;
}
.rowCell {
    color: #e7e7e7 !important;
}
.rowGray {
    background-color: #e7e7e7;
}
.editButton {
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
        color: rgb(206, 0, 82);
    }
}
.deleteButton {
    color: red;
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
        color: rgb(122, 0, 0);
    }
}
#modal-modal-description {
    font-size: 1.2rem !important;
}
.noApplicationMessage {
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0px;
}
.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: $navy;
    padding: 0px 10px;
}
.paginationIcons {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 2.5rem !important;
    transition: 0.2s all ease;
    &:hover {
        background-color: rgb(214, 214, 214);
    }
}
.paginationDisabled {
    cursor: not-allowed;
    color: gray;
    &:hover {
        background-color: inherit;
    }
}
.editModalRow {
    margin: 18px 0px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.modalRowItem {
    flex-grow: 1 !important; 
}