$primary: #fff;
$secondary: rgb(255, 106, 0);
.container {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 35%, rgba(0,212,255,1) 100%);
    .preTitle {
        font-size: clamp(1.3rem, 1.5vw, 1.5rem);
    }
    h4, h1, p {
        color: $primary;
    }
    h1 {
        font-size: clamp(2.3rem, 3.9vw, 3.8rem);
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;
        font-size: clamp(1.3rem, 1.5vw, 1.5rem);
    }
}
.colorOrange {
    color: $secondary;
}
.tryButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1.5rem;
    background-color: $secondary;
    padding: 7px 70px;
    color: $primary;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    transition: 0.2s ease all;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        background-color: rgb(202, 84, 0);
    }
}