$heading-color: #13a8ff;
$secondary: rgb(255, 106, 0);
.container {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    padding: 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.formContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 70vh;
    padding: 20px 50px;
}
.formHeading {
    color: $heading-color !important;
    font-size: clamp(2.1rem, 2.3vw, 2.3rem) !important;
    margin-bottom: 30px !important;
    // font-size: clamp
}
.formInput {
    margin: 10px 0px !important;
}
.rememberMeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkboxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px !important;
}
.checkbox {
    width: 5px;
    margin-right: 5px !important;
}
.forgotPassword {
    color: $heading-color;
    cursor: pointer;
}
.submitButton {
    margin: 20px 0px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 8px 0px;
    font-size: clamp(1.3rem, 1.4vw, 1.4rem);
    background-color: $heading-color;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
        background-color: #0f97e5;
    }
}
.registerContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}
.signupLink {
    color: $heading-color;
    cursor: pointer;
}
.loaderContainer {
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary !important;
}