nav {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}
.right-side-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    li {
        cursor: pointer;
        transition: 0.2s all ease;
        font-size: 1.2rem;
        &:hover {
            color: rgb(255, 106, 0);
        }
    }
}
.try-button-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    outline: none !important;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: rgb(255, 106, 0);
    padding: 3px 30px;
    color: #fff;
    transition: 0.2s ease all;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        background-color: rgb(202, 84, 0);
    }
}