.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 18vw;
    height: 100%;
    background-color: rgb(33, 35, 47);
    padding: 40px 0px;
}

.title {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    cursor: pointer;
}

.divider {
    margin: 0 auto;
    width: 90%;
    border: 0.01px solid rgb(84, 84, 84);
}

.menu {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    gap: 15px;
}

.menuItem {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 15px;
    transition: 0.2s all ease;
    cursor: pointer;

    &:hover {
        background-color: rgb(61, 65, 87);
    }

    .menuIcon,
    span {
        font-size: clamp(0.5rem, 1.3vw, 1.2rem);
    }
}

.itemSelected {
    color: rgb(255, 0, 102);
}

.footer {
    bottom: 40px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        color: gray;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s all ease;

        &:hover {
            color: rgb(255, 0, 102);
        }
    }
}

.responsiveLogout {
    display: none
}

@media screen and (max-width: 1024px) {
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8vh;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        z-index: 100;
    }

    .title {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .menu {
        flex-direction: row;
        gap: 10px;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .menuItem {
        padding: 5px 10px;
        gap: 10px;
    }

    .footer {
        display: none;
    }

    .responsiveLogout {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        gap: 7px;
    }

    .menuItem {
        padding: 12px 5px;
    }
}